body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('./images/background1.png'); /* Replace '/path/to/background-image.jpg' with the actual path to your image */
    background-size: cover;
    background-position: center;
    height: 100vh; /* Ensure the background covers the full viewport height */
  }
  
  